--extra-index-url https://download.pytorch.org/whl/cpu

numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
torch==2.11.0+cpu
sentence-transformers==4.1.0
umap-learn==0.5.11
matplotlib==3.10.8
plotly==6.1.2
jupyterlab==4.4.2
ipykernel==6.29.5
fastapi==0.135.2
uvicorn==0.35.0